@media (max-width: 768px) {

    .logo {
        margin-left: 8vw;
        width: 40%;
    }

    .header .menu {
        display: none;
    }

    .mobile-menu {
        display: block;
        position: absolute;
        right: 8vw;
        margin-top: 7px;
        width: 5%;
        z-index: 1;
    }

    .mobile-menu img {
        width: 100%;
        z-index: 1;
    }

    .show {
        display: block;
    }

    .hide {
        display: none;
    }

    .menu-modal {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        height: 100%;
        width: 100%;
        background-color: #000;
    }

    .logo.mobile {
        margin: 0 0 30% 8vw;         
        width: 40%;
    }

    .header.mobile {
        flex-direction: column;
        align-items: flex-start;
        z-index: 1;
    }

    .header.mobile .menu {
        display: block;
        flex-direction: column;
        margin-left: 8vw;
        z-index: 2;
    }

    .header.mobile .menu .option {
        padding-left: 0;
        font-size: 7vw;
        text-transform: uppercase;
    }

    .header.mobile .menu .option:hover {
        border-color: transparent;
    }

    .hero-text {
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
        font-size: 9vw;
    }

    .interactive-img {
        width: 100%;
        padding: 20% 5% 5%;
        margin: 0%;
    }

    .text-content {
        position: relative;
        width: 85vw;
        padding: 0;
        margin: 0 7.5%;
    }

    .text-content .title {
        font-size: 8vw;
    }

    .text-content .description {
        margin: 0;
        text-align: center;
        font-size: 3vw;
    }

    .top-container .section-title {
        font-size: 8vw;
    }

    .our-creation {
        position: relative
    }

    .top-container .see-all {
        position: absolute;
        bottom: -10%;
        z-index: 1;
        width: 45%;
        height: 3%;
        font-size: 4vw;
    }

    .top-container .see-all:hover {
        background-color: #fff;
        color: #000;
    }

    .grid-container {
        display: block;
    }

    .grid-container .grid-item {
        display: block;
        margin-bottom: 10%;
    }

    .grid-container .grid-item:last-child {
        margin-bottom: 70%;
    }

    .grid-container .grid-item:hover {
        transform: scale(1);
    }

    .creation-title {
        width: 40%;
        font-size: 6vw;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo-container {
        align-items: center;
    }

    .footer .menu {
        flex-direction: column;
    }

    .footer .menu .option {
        margin: 0 0 10% 0;
        font-size: 4vw;
        text-align: center;
    }

    .footer .menu a:hover {        
        border-color: transparent;
    }

    .rights {
        font-size: 3vw;
    }

    .footer-logo {
        width: 40vw;
        margin-bottom: 25%;
    }

    .social-icons {
        margin: 10% 0;
        text-align: center;
    }

    .social-icons .icon {
        height: 8vw;
    }

    .social-icons .icon:hover {
        border-color: transparent;
    }
}