@media (max-width: 768px) {

    .logo {
        margin-left: 8vw;
        width: 40%;
    }

    .header .menu .option {
        display: none;
    }

    .hamburguer-menu {
        display: block;
        width: 5%;
        margin-right: 8vw;
    }

    .menu-modal {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        height: 100vh;
        width: 100vw;
        background-color: #000;
    }

    .hero-text {
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
        font-size: 9vw;
    }

    .interactive-img {
        width: 100%;
        padding: 20% 5% 5%;
        margin: 0%;
    }

    .text-content {
        position: relative;
        width: 85vw;
        padding: 0;
        margin: 0 7.5%;
    }

    .text-content .title {
        font-size: 8vw;
    }

    .text-content .description {
        margin: 0;
        text-align: center;
        font-size: 3vw;
    }

    .top-container .section-title {
        font-size: 8vw;
    }

    .our-creation {
        position: relative
    }

    .top-container .see-all {
        position: absolute;
        bottom: -10%;
        z-index: 1;
        width: 45%;
        height: 3%;
        font-size: 4vw;
    }

    .grid-container {
        display: block;
    }

    .grid-container .grid-item {
        display: block;
        margin-bottom: 10%;
    }

    .grid-container .grid-item:last-child {
        margin-bottom: 70%;
    }

    .creation-title {
        width: 40%;
        font-size: 6vw;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo-container {
        align-items: center;
    }

    .footer .menu {
        flex-direction: column;
    }

    .footer .menu .option {
        margin: 0 0 10% 0;
        font-size: 3vw;
        text-align: center;
    }

    .rights {
        font-size: 3vw;
    }

    .footer-logo {
        width: 40vw;
        margin-bottom: 25%;
    }

    .social-icons {
        margin: 10% 0;
        text-align: center;
    }

    .social-icons .icon {
        height: 6vw;
    }

}